<h1>Conversation#list</h1>
<p>Find me in app/views/conversation/list.html.erb</p>



  <table style="width:100%">
  <tr>
    <th><%= link_to "id" , :sort => "id" %></th>
    <th><%= link_to "tags", :sort => "tags" %> </th> 
    <th><%= link_to "user", :sort => "user" %></th>
    <th><%= link_to "company_name", :sort => "company_name" %></th>
    <th><%= link_to "company_id", :sort => "company_id" %></th>
  </tr>

  <% @conversations.each do |conversation| %>

  <tr>
    <td><%= conversation.intercom_id %></td>
    <td><%= conversation.tags %></td>
    <td><%= conversation.user_intercom_id %></td>
    <td><%= link_to conversation.company_name , companies_path(:intercom_id => conversation.company_id) %></td>
    <td><%= conversation.company_id %></td>
  </tr>


  <% end %>

</table>

ss

